/* 版心居中 */
.wrapper{
    margin: 0 auto;
    width: 1200px;
}

body{
    /* background-color: #f3f5f7; */
    background-color: #f4f4f4;
}
/* body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #f3f5f7, #aeefb7, #ffffff, #00f725);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    }

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
} */

.header{
    height: 100px;
    background-color: #fff;
}

.header .wrapper{
    display: flex;
    padding-top: 29px;
}

.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo英文版.png);
     /* background-size: contain;
     background-repeat: no-repeat; 
     background-position: center;  */
    font-size: 0;

}

.nav{
    margin-left: 102px;
}
.nav ul{
    display: flex;
}

.nav li{
    margin-right: 24px;
}

.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid rgba(110, 181, 3, 0.775);
}

.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

.search input::placeholder{
    font-size: 14px;
    color:#999;
}
.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/搜索.png);
}

.user{
    margin-left: 32px;
    /* margin-top: ; */

}

.user img{
    margin-right: 7px;
    vertical-align: middle;
}

.user span{
    font-size: 16px;
    color:#666;
}

/* banner区域 */
.banner{
    height: 420px;
    /* background-color: #fff; */
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 15px;
    height: 420px;
    background-image:url(../images/banner背景动态图.gif) ;
}

.banner .left{
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;

}

.banner .left a{
    display: block;
    height: 46px;
    background: url(../images/rigth.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color:#fff;
}

.banner .left a:hover{
    background-image: url(../images/rigth-hover.png);
    color: #168f34;
}

.banner .right{
    margin-top: 60px;
    margin-right: 20px;
    width: 218px;
    height: 305px;
    background-color: #e8faf4;
    /* opacity: 0.4; */
    border-radius: 10px;
}

.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #222325;
    font-weight: 400;
}

.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #c2c1c1;
}

.banner .right dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;

}

.banner .right dd span{
    color:#02c21e;
}

.banner .right dd strong{
    color:#7d7d7d;
    font-weight: 400;
}

.banner .right a{
    display: block;
    height: 32px;
    background-color: #222325;
    color: #f6fbfa;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    border-radius: 10px;
}

/* 推荐栏区域 */
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211,211,211,0.5);
    border-radius: 15px;
    line-height: 60px;
}

.recommend h3{
    font-style: 18px;
    color:#02c21e;
    font-weight: 400;
}

.recommend ul{
    flex:1;
    display: flex;
}

.recommend ul li a{
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommend ul li:last-child a{
    border-right: 0;
}

.recommend .modify{
    font-size: 16px;
    color:#02c21e;
}

/* 推荐内容区域 */
.course{
    margin-top: 15px;
}

.hd{
 display: flex;
 justify-content: space-between;
 height: 60px;
 line-height: 60px;   
}

.hd h3{
    font-size: 21px;
    font-weight: 400;
}

.hd .more{
    padding-right: 20px;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color:#999;
}

.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.bd li{
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    /* border-radius: 15x; */
    background-color: pink;
}

.bd li .pic{
    height: 156px;
}

.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4{
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color:#999;
}

.bd li .text p span{
    font-weight: 600;
    color:#fa6400;
}


.bd li .text p i{
    font-style: normal;
}

/* 个人游戏开发助手 区域 */
.hd ul{
    display: flex;
}

.hd li{
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active{
    color:#02c21e;
}

.bd{
    display: flex;
    justify-content: space-between;
}
.bd .left{
    width: 228px;
    border-radius: 10px;
}
.bd .right{
    width: 957px;
}

.bd .right .top{
    margin-bottom: 15px;
}

/* 版权区域 */

.footer{
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
    /* background: url(../uploads/添加标题.png); */
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .left{
    width: 440px;
}

.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a619;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color:#02c21e
    
}

.footer .right{
    display: flex;
}

.footer .right dl{
    margin-left: 130px;
}

.footer .right dt{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a{
    font-size: 14px;
    color:#666;
    line-height: 24px;
}